<form method="post" action="{{ path('delete_video', {id: video.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette Vidéo');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
    <button class="btn text-danger"><i class="fa-solid fa-trash"></i></button>
</form>
