<div class="row">
    <div class="col-md-6">
        <div class="row">
            {% for image in trick.images %}
                <div class="col-md-4">
                    {{ image.id }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            {% for video in trick.videos %}
                <div class="col-md-4">
                    {{ video.id }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>