{% if app.user %}
    <div class="row text-center">
        <div class="col mt-3">
            <a href="{{ path('update_video', {id: video.id}) }}" class="card-link">
                <i class="fa-solid fa-pen"></i>
            </a>
        </div>
        <div class="col">
            {% include "videos/form/delete.html.twig" %}
        </div>
    </div>
{% endif %}