<form method="post" action="{{ path('trick_delete', {id: trick.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette Signification?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <button class="btn">S</button>
</form>
