<form method="post" action="{{ path('delete_img', {id: image.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette Signification?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    <button class="btn text-danger"><i class="fa-solid fa-trash"></i></button>
</form>
